 body{
    background: url("../image/cf_bg.jpg") no-repeat center;
 }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    .rg_layout{
    width: 900px;
    height: 500px;
    border: 8px solid grey;
    background-color: white;
    margin: auto;
    margin-top: 15px;
}
    .rg_left{
    /*border: 1px dashed red;*/
    float: left;
    margin: 15px;
}
    .rg_left > p:first-child{
    color: gold;
    font-size: 20px;
}
    .rg_right > p:last-child{
    font-size: 20px;
}
    .rg_center{
    border: 1px solid black;
    padding: 15px;
    float: left;
    width: 450px;
}
    .tb_left{
    width: 100px;
    text-align: right;
    height: 45px;
}
    .tb_right{
    padding-left: 50px;
}
    #username,#name,#password,#email,#birthday{
    width: 251px;
    height: 32px;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 5px;
}
    #sub{
    width: 60px;
    height: 30px;
    background-color: gold;
}
    .rg_right{
    margin: 15px;
    /*border: 1px dashed red;*/
    float:right;
}
    .rg_right > p:first-child{
    font-size: 15px;
}
    .rg_right p a{
    color: pink;
}

